.main {
  width: 100%;
}

table {
  background-color: black !important;
}

.tbody {
  padding: 50;
}

.marquee
{
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    white-space: nowrap;
    /* box-sizing: border-box; */
    animation: marquee 50s linear infinite;
    -webkit-animation: marquee 50s linear infinite;
}

.ticker {
  font-size: 64px;
  color: white;
}

.down {
  font-size: 64px;
  color: red;
}

.up {
  font-size: 64px;
  color: green;
}

span .ticker {
  margin-left: 24px;
  margin-right: 24px;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}